.logo {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.title {
    margin-top: 8vh;
    text-align: center;
    font-size: 255%;
    font-weight: 900;
    font-style: italic;
}

.inputs {
    margin-top: 2vh;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 0px 10px;
    width: 27.5vw;
    border-bottom: 1px solid rgb(145, 145, 145);
    padding: 8px 16px;
    outline: none;
    font-size: 120%;
    font-weight: 600;
}

.input::placeholder {
 	color: #c4c4c4;
}

.dropdownMenus {
    margin: 0px 10px;
    position: absolute;
    margin-top:0.25rem;
    width: 27.5vw;
    border: 2px solid black;
    background-color: white;
    z-index: 10;
}

.loginBtn {
    margin-top: 5%;
    background-color: #99fc80;
    width: 100%;
    padding: 12px;
    border: 2px dashed #282828;
    border-radius: 25px;
    font-weight: 600;
    color: #282828;
    transition: 200ms ease;
}

.loginBtn:hover {
    background-color: #99fc80;
    border: 2px solid #282828;
    box-shadow: inset 0 5px 5px rgba(0,0,0,0.12);
    color: #282828;
}